body {
  background-image: url(../img/meal.jpeg);
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.welcome {
  background-color: white;
  opacity: 80%;
}

.order {
  background-color: white;
  opacity: 80%;
}

.footer {
  background-color: black;
  color: white;
  padding: 20px;
}
