#home {
  padding-top: 20px;
  padding-left: 400px;
}

#calendar {
  padding-top: 20px;
  padding-right: 100px;
}

#ministries {
  padding-top: 20px;
}

#testimonials {
  padding-top: 20px;
  padding-left: 100px;
}

#contact_us {
  padding-top: 20px;
  padding-right: 400px;
}